@model ProductViewModel
@using Sale.WebApp.Models

@{
    ViewData["Title"] = "Manage Products";
}

<div class="panel panel-default product-panel">
  <div class="panel-heading">
    <div class="row d-flex mb-4 chart-header">  
        <h2>@ViewData["Title"]</h2>
        <span class="text-danger" style="position: absolute; right: 5%;">@ViewData["ErrorMsg"]</span>
        <span class="text-success" style="position: absolute; right: 5%;">@ViewData["SuccessInfo"]</span>
    </div>
  </div>
  
  <table class="table table-hover">
      <thead>
          <tr>
              <td>Row</td>
              <td>Name</td>
              <td>Description</td>
              <td>Price</td>
              <td>In Stock</td>
              <td>Category</td>
              <td>Active</td>
              <td colspan="3" class="text-center">İşlemler</td>
          </tr>
      </thead>
      
      @foreach (var item in Model.Products)
      {
          <tr id="currentProduct">
              <td>@item.Title</td>
              <td>@item.Description</td>
              <td>@item.Price</td>
              <td>@item.Stock</td>
              <td>@item.Category</td>
              <td>
                <input type="checkbox" checked="@item.Active" disabled class="done-checkbox">
              </td>
              <td>
                <button 
                    class="btn btn-outline-success"
                    data-toggle="modal" 
                    data-target="#addToChart" 
                    data-pId="@item.Id"
                    data-maxv="@item.Stock"
                    >Sepete Ekle</button>
              </td>
              <td>
                <form asp-action="RouteUpdateProduct" asp-route-pId="@item.Id">
                  <button type="submit" class="btn btn-outline-warning">Güncelle</button>
                </form>
              </td>
              <td>
                  <button 
                    class="btn btn-outline-danger" 
                    data-toggle="modal" 
                    data-target="#deleteModal" 
                    data-pId="@item.Id" 
                    data-pName="@item.Title"
                  >Sil</button>
              </td>
          </tr>
      }
  </table>
  
  <hr>
  
  <div class="card mt-3">
    <div class="card-header">
      <h5>Yeni Ürün Ekle</h5>
    </div>
    <div class="card-body">
      @await Html.PartialAsync("AddProductPartial", new Product())
    </div>
  </div>
</div>

<!-- DELETE MODAL -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ürün Silme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="pId" id="modalProductId" value=""/>
        <input type="text" readonly class="form-control" id="modalProductName">
      </div>
      <div class="modal-footer">
        <form id="modalForm" asp-action="DeleteProduct">
          <button type="submit" class="btn btn-danger">Sil</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
      </div>
    </div>
  </div>
</div>

<!-- ADD TO CHART MODAL -->
<div class="modal" id="addToChart" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Ürün Ekleme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="addChartForm" asp-action="AddProductToChart">
        <div class="modal-body">
          <input type="hidden" name="pId" id="addChartProId" value=""/>
          <div class="form-group row">
            <label for="Amount" class="col-sm-4 col-form-label">Adet</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" id="addChartAmount" name="Amount" placeholder="0" min="1">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Ekle</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        </div>
      </form>

    </div>
  </div>
</div>

